.Entete {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 1.1em;

  .btn-deconnexion {
    color: red;
    background-color: white;
    font-size: 0.6em;
    margin-left: 20px;

    &:hover {
      border: 1px solid red;
    }
  }

  &>* {
    display: flex;
    padding: 0 20px;
  }

  .utilisateur {
    align-items: center;
    .avatar {
      margin-left: 20px;
      width: 35px;
      height: 35px;
    }
  }
}